body, div, aside, ul {    
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	background: url(../imagenes/bg_1.jpg) no-repeat 0 0/cover;
    overflow-x: hidden;
    /*color:rgba(255, 255, 255, .9);
    font-weight:300*/
}

aside {
	display: block;
	padding: 0;
}

ul {
	list-style: none;
}

.contenedor{
    overflow: hidden;
    min-height: 1000px;
    position: relative
}

.sidebar {
    float: left;
    width: 260px;
    position: relative;
    color:#fff;
}

.usuario-info {
    text-align: center;
    background-color: rgba(0, 0, 0, .5)
}

.usuario-avatar {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 50%;
}

.navbar {
    list-style: none;
    position: relative;
    color:#fff;
}

.navbar-link {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, .4);
    line-height: 63px;
    margin-top: 1px;
    padding-right: 40px;
}

.navbar li .navbar-link:hover {
    color:#fff;
}

.usuario-info-datos {
    padding-bottom: 28px;
    font-size:18px
}
.usuario-info-datos li {
    width: 79px;
    display: inline-block;
}
.usuario-info-datos li p:last-child {
    font-size: 14px;
    margin-top: 5px;
    color: #53d769;
}